* { box-sizing: border-box }

#library{
    background-color: #efefef;
}
#container{
    width:1200px;
    height:1300px;
    margin:auto;
    background-color: white;
    margin-top:50px;
}

.feet{
    background-color:white;
    border:1px solid black;
}